{% extends 'shared/_layout.html' %}


{% block content %}

    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row container">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">


                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>Lorem</span>ipsum</h1>
                                    <h2>Lorem ipsum</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. </p>
                                </div>

                                <div class="col-sm-6">
                                    <img src="/static/images/home/iut-logo.png" class="girl img-responsive" alt=""/>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->

{% endblock %}